.change-text {
  font-size: 3em;
  text-shadow: 0px 0px 15px #ffffff7d;
  font-family: inherit;
  font-weight: 600;
  color: #ffffff;

  margin-top: 0px !important;
}

.top-one {
  margin-bottom: 0.4em;
  line-height: 1.4em;
  font-weight: 200;
  font-family: sans-serif;
  color: #ffffff;
}

.top-p {
  margin-bottom: 0.4em;
  line-height: 1.4em;
  font-weight: 200;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 3em;
}

.top-pra {
  color: #ffffff;
  font-size: 2em;
  text-shadow: 0 0 100px #ffffff;
  font-weight: 500;
  font-family: "Open Sans Regular";
}

.vertical-live {
  position: absolute;
  bottom: 0;
  left: 5%;
  transform: translateX(-7%);
  animation: 30s linear 0s infinite vertical-line;
  z-index: 0;
  width: 100%;
  opacity: 0.25;
}

.blur-bg {
  background: url("https://lemniscatetechnologies.net/images/bgblur-round.png")
    repeat center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-dark {
  background-color: rgb(17, 5, 37) !important;
}

.new-h2 {
  font-size: 2em;
}
.anyday-f {
  font-family: "Anyday Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

.navbar {
  background-color: rgb(17, 5, 37) !important;
}

.aos-animate {
  margin-left: 20px;
}

/* Styles for desktop devices */
@media only screen and (min-width: 768px) {
  /* Add your styles for desktop here */
  .desktop-hide {
    display: none;
  }
  .bg-black,
  .bg-purple {
    height: 110vh;
    background-size: contain;
    width: 100%;
    background-position: center;
    text-align: center;
  }

  .white-text-a {
    color: #ffffff;
    font-family: var(--heading);
    margin-bottom: 0.4em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 18px;
  }
  .purpl {
    margin: 0 0 20px 0;
    width: 50%;
  }

  .mid-wt {
    text-shadow: 0px 0px 15px #ffffff7d;
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0px !important;
  }

  .feature_block figure {
    position: relative;
    margin: 0 auto;
    width: max-content;
    padding: 12px;
  }
  .feature_block h3 {
    color: #ffffff;
    font-family: var(--heading);
    margin-bottom: 0.4em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 1.75rem;
  }
  .feature_block p {
    color: #ffffff;
    font-family: var(--heading);
    margin-bottom: 0.4em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 20px;
  }

  .feature_block figure::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.34;
    filter: blur(54px);
    background-color: #2e76ff;
    animation: pulse 5s infinite linear;
    transition: 0.5 ease-in-out;
  }
   @keyframes pulse {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
  .mar-gin {
    margin: 0 0 25px 0;
    padding: 40px 0 0 0;
  }
}

/* Styles for mobile devices */
@media only screen and (max-width: 767px) {
  /* Add your styles for mobile here */

  .mobile-hide {
    display: none;
  }
  .bg-black {
    background-color: black !important;
    height: 110vh;
    background-size: contain;
    width: 100%;
    background-position: center;
    text-align: center;
  }
  .white-text-a {
    color: #ffffff;
    font-family: var(--heading);
    margin-bottom: 1em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 10px;
  }

  .mid-wt {
    text-shadow: 0px 0px 15px #ffffff7d;
    font-size: 29px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0px !important;
  }
  .feature_block {
    padding: 100px 0 0 0;
  }
  .feature_block figure {
    position: relative;
    margin: 0 auto;
    width: max-content;
    padding: 12px;
    text-align: center;
  }
  .feature_block h3 {
    color: #ffffff;
    font-family: var(--heading);
    margin-bottom: 0.4em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 1.75rem;
    padding: 20px 50px 20px 50px;
    text-align: center;
  }
  .feature_block p {
    color: #ffffff;
    font-family: var(--heading);
    margin-bottom: 0.4em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    padding: 20px 50px 20px 50px;
  }

  .feature_block figure::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0.34;
    filter: blur(54px);
    background-color: #2e76ff;
    animation: pulse 5s infinite linear;
    transition: 0.5 ease-in-out;
  }
   @keyframes pulse {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
  .mar-gin {
    margin: 0 0 25px 0;
  }

  .purpl {
    width: 100%;
    text-align: center;
  }

  .top-pra {
    color: #ffffff;
    font-size: 18px;
    text-shadow: 0 0 100px #ffffff;
    font-weight: 600;
    font-family: "Open Sans Regular";
    opacity: 0.8;
  }
  .change-text {
    font-size: 25px;
    text-shadow: 0px 0px 15px #ffffff7d;
    font-family: inherit;
    font-weight: 600;
    color: #ffffff;

    margin-top: 0px !important;
  }
  .top-one,.top-p {
    margin-bottom: 0.4em;
    line-height: 1.4em;
    font-weight: 200;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 12px;
    display: none;
  }
  

}

.mobile-hide {
    width: 80%;
    margin-top: 30px;
}

.desktop-hide
{
  width: 100%;
}


.price-sec{
  background-color: #000000;
  background-image: radial-gradient(circle at left center, rgba(0, 156, 255, .35), #00042a 100%);
padding-bottom: 60px!important;
}
.bullet-list li{
  color: #ffffff;
}
.checked {
  color: orange;
}
