.demo {
  background-color: #000000;
  background-image: radial-gradient(
    circle at left center,
    rgba(0, 156, 255, 0.35),
    #00042a 100%
  );
  padding: 30px 0;
}

a {
  text-decoration: none;
}

.pricingTable {
  padding: 25px 10px 70px;
  margin: 0 15px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.pricingTable:after,
.pricingTable:before {
  content: "";
  position: absolute;
  left: 0;
}

.pricingTable .price-value .amount {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
}

.pricingTable .price-value .month {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
  text-transform: uppercase;
}

.pricingTable:before {
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.pricingTable:after {
  width: 70px;
  height: 30px;
  background: #1daa72;
  margin: 0 auto;
  top: 70px;
  right: 0;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.pricingTable .title {
  padding: 15px 0;
  margin: 0 -25px 30px;
  background: #1daa72;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.pricingTable .title:after,
.pricingTable .title:before {
  border-top: 15px solid #51836d;
  border-bottom: 15px solid transparent;
  position: absolute;
  bottom: -30px;
  content: "";
}

.pricingTable .title:before {
  border-left: 15px solid transparent;
  left: 0;
}

.pricingTable .title:after {
  border-right: 15px solid transparent;
  right: 0;
}

.pricingTable .price-value {
  margin-bottom: 25px;
  color: #1daa72;
}

.pricingTable .currency {
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
  margin-top: 8px;
}

.price-value .amount {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
}

.price-value .month {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
  text-transform: uppercase;
}

.pricingTable .pricing-content {
  padding: 0;
  margin: 0 0 25px;
  list-style: none;
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
}

.pricingTable .pricing-content li {
  font-size: 19px;
  color: #000000;
  line-height: 35px;
}

.top-pricing-content {
  color: #ffffff !important;
  position: relative;
  z-index: 100;
}

/* ///////////// */

/* Styles for mobile devices */

@media only screen and (max-width: 767px) {
  .top-nop {
    padding: 0px 0 80px 0;
  }
  .btn_container {
    margin-top: 50px;
  }
  .offbr {
    position: relative;

    top: 40px;
    left: inherit;
  }
  .onbr {
    position: relative;

    /* margin: 0 0 40px 0; */
    top: -7px;
    left: inherit;
  }
  .bulb_btn {
    font-family: "Baloo Bhai 2", serif;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    background: #2e83fd;

    border-radius: 20px 20px 20px 21px;
    font-size: 30px;
  }
  .bulb_btn:hover {
    background: #46daff;
  }
  .price-headtag {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    margin: 130px 0 0 0;
  }
  .fix-heading {
    font-size: 42px;
    color: #ffffff;
    width: 100%;
    line-height: 65px;
    text-align: center;

    font-weight: 500;
  }
  .top-pricing-content li {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
  }

  .price-bg {
    background: rgb(47, 133, 255);
    background: radial-gradient(
      circle,
      rgba(47, 133, 255, 1) 0%,
      rgba(22, 210, 248, 1) 88%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right right;
    width: 100%;
    height: 120vh;
    padding: 1px;
  }
  /* .ovelay-price {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    margin: 40px 0 -10px 0;
  } */

  .top-content {
    text-align: center;
    font-size: 16px;
  }
}

/* Styles for desktop devices */

@media only screen and (min-width: 768px) {
  .top-nop {
    padding: 0px 0 0px 0;
  }
  .btn_container {
    margin-top: 50px;
  }
  .offbr {
    position: relative;

    top: 40px;
    left: inherit;
  }
  .onbr {
    position: relative;

    /* margin: 0 0 40px 0; */
    top: -7px;
    left: inherit;
  }
  .bulb_btn {
    font-family: "Baloo Bhai 2", cursive;
    width: 150px;
    height: 50px;
    border: 1px solid white;
       outline: none;
    cursor: pointer;

    border-radius: 20px 20px 20px 21px;
    background: #2e83fd;
    font-size: 30px;
  }
  .bulb_btn:hover {
    background: #46daff;
  }
  .price-headtag {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    margin: 130px 0 0 0;
  }
  .fix-heading {
    font-size: 42px;
    color: #ffffff;
    width: 100%;
    line-height: 65px;
    text-align: center;
    padding: 28% 0 0 0;
    font-weight: 500;
  }
  .top-pricing-content li {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
  }

  .price-bg {
    background: rgb(47, 133, 255);
    background: radial-gradient(
      circle,
      rgba(47, 133, 255, 1) 40%,
      rgba(22, 210, 248, 1) 88%
    );

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right right;
    width: 100%;
    height: 90vh;
    padding: 0px 0 0px 0;
  }
  /* .ovelay-price {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    margin: 40px 0 -10px 0;
  } */

  .top-content {
    text-align: center;
    font-size: 16px;
  }
}

.pricingTable .pricingTable-signup {
  display: inline-block;
  padding: 10px 30px;
  background: #1daa72;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.7s ease 0s;
}

.pricingTable .pricingTable-signup:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 0.6s ease-in-out 0s;
}

.pricingTable .pricingTable-signup:hover:before {
  opacity: 1;
  transform: translate(0, -100%);
}

.pricingTable.blue .pricingTable-signup,
.pricingTable.blue .title,
.pricingTable.blue:after {
  background: #49b0ca;
}

.pricingTable.blue .title:after,
.pricingTable.blue .title:before {
  border-top: 15px solid #407a88;
}

.pricingTable.blue .price-value {
  color: #49b0ca;
}

.pricingTable.pink .pricingTable-signup,
.pricingTable.pink .title,
.pricingTable.pink:after {
  background: #f06ace;
}

.pricingTable.pink .price-value {
  color: #f06ace;
}

.pricingTable.pink .title:after,
.pricingTable.pink .title:before {
  border-top: 15px solid #773667;
}

@media only screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 30px;
  }
}
